.wrapper {
  padding: 40px;
  background: var(--color-white);
  & a {
    text-decoration: underline;
  }
  @media screen and (max-width: 420px) {
    padding: 25px;
  }
}

.title {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: none;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-primary);
}

.text {
  font-size: 14px;
  line-height: 2em;
  & p {
    margin-bottom: 8px;
  }
  & h2 {
    width: fit-content;
    font-size: 20px;
    margin: 18px 0 4px;
  }
  & blockquote {
    padding: 0 1em;
    border-left: 0.25em solid #d0d7de;
    line-height: 1.4em;
  }
  & img {
    max-width: 100%;
    height: auto;
    margin: 16px 0;
  }
  pre {
    background: #f5f2f0;
    margin: 0.5em 0;
    overflow: auto;
    padding: 1em;
  }
  a {
    word-break: break-all;
  }
  code {
    word-wrap: normal;
    background: none;
    color: #000;
    font-family:
      Consolas,
      Monaco,
      Andale Mono,
      Ubuntu Mono,
      monospace;
    font-size: 1em;
    -webkit-hyphens: none;
    hyphens: none;
    line-height: 1.5;
    tab-size: 4;
    text-align: left;
    text-shadow: 0 1px #fff;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
  }
}

.note {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 14px 0;
}

.icon {
  margin-right: 6px;
  width: 13px;
}

.category {
  margin-right: 6px;
}
